@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.video {
  display: flex;
  justify-content: center;
}
video {
  margin: 2rem 0;
  animation: fadeIn 4s;
  width: 100%;
}
section.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  gap: 1rem;
}
.projects > * {
  position: relative;
  background-color: #fff;
  height: 100%;
  width: 100%;
}
.projects span {
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: #000000b0;
  width: 100%;
  height: 5vh;
  justify-content: center;
  align-items: center;
}
.viaje-luna {
  background: url('../assets/img/projects/p1.jpg');
  background-size: cover;
}
.sonda-luna2 {
  background: url('../assets/img/projects/p2.jpg');
  background-size: cover;
}
.sonda-slim {
  background: url('../assets/img/projects/p3.jpg');
  background-size: cover;
}
.sonda-change4 {
  background: url('../assets/img/projects/p4.jpg');
  background-size: cover;
}

@media (width >= 1024px) {
  .video video {
    width: 50%;
  }
  .container .projects {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    gap: 1rem;
    justify-content: center;
  }
  .container .projects > * {
    width: 20%;
  }
  .sonda-luna2 {
    background-position-x: -60px;
  }
}
