/**
 * Made by @screenshake
 * linkedin.com/in/saranshsinha
 *
 * CodePen: https://codepen.io/sarazond/pen/LYGbwj
 */

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1840px 1945px #fff, 140px 203px #fff, 836px 1596px #fff, 1438px 1156px #fff, 1234px 1536px #fff, 311px 65px #fff,
    1544px 180px #fff, 198px 1039px #fff, 1482px 1680px #fff, 324px 1658px #fff, 958px 849px #fff, 826px 67px #fff, 765px 1592px #fff,
    1189px 1291px #fff, 1879px 1601px #fff, 1755px 1692px #fff, 589px 695px #fff, 1373px 1692px #fff, 530px 563px #fff, 586px 1800px #fff,
    1358px 975px #fff, 279px 1642px #fff, 1982px 1854px #fff, 1134px 1671px #fff, 1023px 12px #fff, 201px 1464px #fff, 263px 1453px #fff,
    811px 1676px #fff, 1914px 1047px #fff, 392px 1886px #fff, 733px 203px #fff, 1482px 1714px #fff, 1376px 1197px #fff, 32px 1752px #fff,
    1786px 1555px #fff, 1772px 1108px #fff, 1922px 1991px #fff, 540px 659px #fff, 60px 311px #fff, 491px 297px #fff, 1139px 554px #fff,
    1132px 259px #fff, 430px 1458px #fff, 855px 1424px #fff, 700px 909px #fff, 1453px 1998px #fff, 154px 1451px #fff, 763px 757px #fff,
    727px 1134px #fff, 1169px 194px #fff, 903px 1039px #fff, 1588px 381px #fff, 113px 560px #fff, 1064px 517px #fff, 336px 1267px #fff,
    1878px 819px #fff, 504px 906px #fff, 598px 1522px #fff, 399px 1586px #fff, 262px 910px #fff, 147px 1183px #fff, 1736px 582px #fff,
    406px 1276px #fff, 63px 984px #fff, 1849px 1410px #fff, 1303px 1727px #fff, 18px 581px #fff, 1494px 291px #fff, 1833px 1171px #fff,
    1770px 1016px #fff, 1059px 709px #fff, 194px 932px #fff, 1430px 1280px #fff, 268px 703px #fff, 515px 491px #fff, 956px 1776px #fff,
    1869px 1854px #fff, 17px 1277px #fff, 176px 1670px #fff, 1432px 355px #fff, 264px 867px #fff, 1860px 476px #fff, 105px 1409px #fff,
    171px 1279px #fff, 542px 845px #fff, 446px 254px #fff, 360px 1821px #fff, 1818px 1307px #fff, 511px 126px #fff, 1813px 1459px #fff,
    1560px 980px #fff, 817px 1532px #fff, 1788px 144px #fff, 435px 1752px #fff, 239px 924px #fff, 873px 1204px #fff, 519px 746px #fff,
    256px 1613px #fff, 54px 1730px #fff, 324px 1230px #fff, 1541px 757px #fff, 561px 929px #fff, 342px 129px #fff, 3px 388px #fff,
    696px 826px #fff, 187px 449px #fff, 507px 1931px #fff, 495px 831px #fff, 1562px 159px #fff, 895px 1357px #fff, 541px 242px #fff,
    1391px 1225px #fff, 1378px 1431px #fff, 1441px 389px #fff, 418px 1817px #fff, 341px 418px #fff, 705px 1474px #fff, 382px 1924px #fff,
    1498px 650px #fff, 533px 78px #fff, 987px 362px #fff, 529px 1251px #fff, 1260px 140px #fff, 1220px 169px #fff, 1677px 1374px #fff,
    42px 161px #fff, 1476px 1757px #fff, 1328px 1575px #fff, 1195px 871px #fff, 468px 670px #fff, 917px 1921px #fff, 1824px 287px #fff,
    695px 1037px #fff, 1254px 1184px #fff, 325px 1159px #fff, 717px 1690px #fff, 712px 1281px #fff, 1108px 1634px #fff, 1572px 615px #fff,
    1082px 773px #fff, 730px 707px #fff, 1940px 123px #fff, 1271px 468px #fff, 978px 1468px #fff, 861px 637px #fff, 1048px 1037px #fff,
    650px 1900px #fff, 1273px 283px #fff, 392px 501px #fff, 820px 880px #fff, 1735px 441px #fff, 530px 1114px #fff, 418px 1053px #fff,
    1644px 220px #fff, 931px 294px #fff, 1324px 850px #fff, 1858px 309px #fff, 1098px 1384px #fff, 1042px 535px #fff, 490px 1281px #fff,
    982px 258px #fff, 1084px 1126px #fff, 1228px 1567px #fff, 1247px 1963px #fff, 284px 1264px #fff, 1263px 1991px #fff, 1581px 1920px #fff,
    901px 1471px #fff, 218px 408px #fff, 1588px 631px #fff, 1038px 152px #fff, 225px 1629px #fff, 997px 1382px #fff, 354px 1863px #fff,
    1726px 1282px #fff, 392px 1267px #fff, 468px 1035px #fff, 1172px 1138px #fff, 1021px 921px #fff, 1405px 889px #fff, 1802px 1796px #fff,
    1552px 540px #fff, 150px 277px #fff, 1255px 1173px #fff, 539px 575px #fff, 707px 128px #fff, 1913px 1744px #fff, 1366px 1195px #fff,
    362px 586px #fff, 1159px 1595px #fff, 1864px 1271px #fff, 857px 985px #fff, 967px 1000px #fff, 838px 1330px #fff, 1434px 1710px #fff,
    443px 1811px #fff, 652px 1026px #fff, 1395px 966px #fff, 413px 1599px #fff, 1832px 1710px #fff, 514px 1529px #fff, 1723px 1680px #fff,
    92px 1243px #fff, 654px 410px #fff, 1164px 865px #fff, 1733px 1953px #fff, 1302px 778px #fff, 284px 1979px #fff, 348px 121px #fff,
    27px 971px #fff, 1617px 1295px #fff, 1688px 446px #fff, 1600px 1322px #fff, 1274px 1883px #fff, 983px 1791px #fff, 1525px 308px #fff,
    1904px 763px #fff, 923px 869px #fff, 985px 584px #fff, 848px 1771px #fff, 1675px 954px #fff, 1016px 1945px #fff, 1429px 1879px #fff,
    429px 1048px #fff, 1801px 841px #fff, 1747px 743px #fff, 537px 1348px #fff, 1735px 1929px #fff, 314px 523px #fff, 433px 1287px #fff,
    578px 1674px #fff, 5px 1658px #fff, 1640px 1237px #fff, 588px 1791px #fff, 570px 1401px #fff, 824px 88px #fff, 250px 1752px #fff,
    95px 445px #fff, 1110px 980px #fff, 1942px 114px #fff, 1927px 803px #fff, 1713px 1690px #fff, 204px 1528px #fff, 1045px 362px #fff,
    1853px 1844px #fff, 518px 1460px #fff, 194px 685px #fff, 1399px 729px #fff, 607px 863px #fff, 716px 666px #fff, 523px 333px #fff,
    1952px 292px #fff, 84px 1816px #fff, 1463px 1330px #fff, 1850px 964px #fff, 75px 1973px #fff, 1550px 849px #fff, 1494px 317px #fff,
    251px 1020px #fff, 1767px 35px #fff, 548px 1936px #fff, 893px 1968px #fff, 1921px 1135px #fff, 236px 1011px #fff, 471px 540px #fff,
    1539px 1896px #fff, 808px 36px #fff, 873px 1969px #fff, 563px 632px #fff, 1208px 687px #fff, 1853px 637px #fff, 940px 857px #fff,
    1911px 124px #fff, 1659px 1621px #fff, 136px 794px #fff, 1937px 1726px #fff, 147px 1703px #fff, 1822px 1526px #fff, 590px 1170px #fff,
    776px 683px #fff, 1816px 1279px #fff, 1279px 1266px #fff, 326px 427px #fff, 1545px 561px #fff, 1992px 1404px #fff, 1146px 1894px #fff,
    1883px 831px #fff, 257px 527px #fff, 505px 730px #fff, 1671px 1303px #fff, 1191px 645px #fff, 1351px 107px #fff, 672px 1981px #fff,
    864px 1857px #fff, 1861px 1423px #fff, 1968px 1959px #fff, 759px 139px #fff, 976px 2000px #fff, 613px 1123px #fff, 705px 1454px #fff,
    1552px 860px #fff, 714px 264px #fff, 1935px 699px #fff, 815px 1998px #fff, 431px 1296px #fff, 476px 919px #fff, 290px 16px #fff,
    555px 1282px #fff, 20px 991px #fff, 1679px 733px #fff, 12px 1227px #fff, 222px 1075px #fff, 1972px 89px #fff, 1345px 414px #fff,
    1122px 692px #fff, 1144px 1132px #fff, 55px 573px #fff, 694px 888px #fff, 1343px 601px #fff, 1824px 624px #fff, 891px 838px #fff,
    254px 1021px #fff, 1056px 1158px #fff, 1461px 1950px #fff, 55px 1878px #fff, 12px 648px #fff, 1530px 1859px #fff, 474px 1197px #fff,
    1746px 1914px #fff, 1567px 1898px #fff, 1827px 1624px #fff, 648px 229px #fff, 1428px 69px #fff, 361px 1504px #fff, 1069px 1837px #fff,
    999px 295px #fff, 309px 1704px #fff, 1522px 27px #fff, 1197px 1663px #fff, 318px 1788px #fff, 1966px 43px #fff, 371px 637px #fff,
    108px 1786px #fff, 1284px 1952px #fff, 1035px 663px #fff, 1916px 1136px #fff, 1839px 1850px #fff, 1209px 1345px #fff, 641px 1499px #fff,
    628px 1059px #fff, 1802px 1981px #fff, 207px 1257px #fff, 742px 1820px #fff, 904px 1333px #fff, 1013px 1963px #fff, 605px 1049px #fff,
    46px 38px #fff, 275px 1054px #fff, 971px 79px #fff, 1487px 1069px #fff, 1406px 693px #fff, 854px 524px #fff, 1507px 992px #fff,
    1746px 1908px #fff, 1864px 333px #fff, 984px 748px #fff, 1469px 723px #fff, 1998px 1px #fff, 566px 826px #fff, 616px 629px #fff,
    953px 920px #fff, 351px 1273px #fff, 1113px 417px #fff, 1994px 1260px #fff, 803px 851px #fff, 1074px 1217px #fff, 1243px 1533px #fff,
    522px 1543px #fff, 674px 280px #fff, 1422px 1721px #fff, 1453px 666px #fff, 436px 831px #fff, 704px 436px #fff, 933px 1749px #fff,
    375px 429px #fff, 1268px 1064px #fff, 574px 1471px #fff, 1942px 1074px #fff, 1286px 1302px #fff, 225px 464px #fff, 1230px 397px #fff,
    112px 666px #fff, 743px 1714px #fff, 75px 704px #fff, 1368px 1329px #fff, 493px 642px #fff, 267px 297px #fff, 696px 550px #fff,
    948px 1180px #fff, 153px 1907px #fff, 1398px 668px #fff, 674px 1163px #fff, 1834px 1792px #fff, 1710px 1888px #fff, 1100px 547px #fff,
    792px 1266px #fff, 533px 765px #fff, 1583px 183px #fff, 1957px 252px #fff, 1895px 913px #fff, 1693px 115px #fff, 27px 1952px #fff,
    528px 43px #fff, 1495px 928px #fff, 356px 19px #fff, 443px 1382px #fff, 681px 398px #fff, 1485px 265px #fff, 1977px 752px #fff,
    693px 245px #fff, 197px 1059px #fff, 117px 3px #fff, 167px 1734px #fff, 1157px 951px #fff, 561px 758px #fff, 1287px 100px #fff,
    623px 1652px #fff, 1569px 574px #fff, 1635px 1688px #fff, 698px 1745px #fff, 1450px 496px #fff, 1534px 470px #fff, 205px 289px #fff,
    654px 227px #fff, 1020px 703px #fff, 1267px 1902px #fff, 1790px 1781px #fff, 289px 669px #fff, 494px 1937px #fff, 810px 666px #fff,
    1193px 122px #fff, 1583px 804px #fff, 137px 1173px #fff, 256px 972px #fff, 1783px 1260px #fff, 652px 1468px #fff, 441px 1150px #fff,
    1309px 1221px #fff, 322px 703px #fff, 1995px 1080px #fff, 898px 1957px #fff, 1077px 910px #fff, 700px 667px #fff, 1326px 299px #fff,
    546px 1000px #fff, 1062px 679px #fff, 1188px 565px #fff, 95px 1784px #fff, 493px 1139px #fff, 1393px 926px #fff, 1802px 1212px #fff,
    1029px 71px #fff, 1578px 1402px #fff, 1486px 1537px #fff, 1477px 1592px #fff, 1691px 1661px #fff, 1227px 5px #fff, 1770px 994px #fff,
    1209px 564px #fff, 103px 779px #fff, 466px 1982px #fff, 1546px 713px #fff, 1765px 614px #fff, 1197px 1675px #fff, 1173px 557px #fff,
    1414px 1430px #fff, 1100px 1316px #fff, 148px 550px #fff, 639px 523px #fff, 1484px 1183px #fff, 1371px 1527px #fff, 1098px 1312px #fff,
    48px 187px #fff, 1129px 1246px #fff, 1399px 130px #fff, 1585px 537px #fff, 1370px 1104px #fff, 538px 1862px #fff, 245px 390px #fff,
    1144px 1689px #fff, 1189px 1397px #fff, 672px 1856px #fff, 872px 1220px #fff, 1247px 1563px #fff, 1936px 1471px #fff, 1815px 1081px #fff,
    1913px 730px #fff, 1406px 1081px #fff, 1315px 1340px #fff, 1180px 1528px #fff, 1525px 1202px #fff, 1591px 96px #fff, 1958px 354px #fff,
    1187px 1537px #fff, 530px 1419px #fff, 714px 102px #fff, 1967px 1404px #fff, 1693px 1324px #fff, 1228px 729px #fff, 1023px 1431px #fff,
    1675px 1780px #fff, 565px 1219px #fff, 1546px 937px #fff, 613px 1355px #fff, 497px 503px #fff, 199px 1708px #fff, 1311px 163px #fff,
    1900px 1430px #fff, 1534px 1648px #fff, 680px 1971px #fff, 1897px 1631px #fff, 159px 1055px #fff, 1549px 1391px #fff, 1568px 627px #fff,
    47px 164px #fff, 1044px 1470px #fff, 118px 1935px #fff, 330px 1329px #fff, 101px 142px #fff, 1569px 433px #fff, 747px 160px #fff,
    815px 1354px #fff, 239px 636px #fff, 1444px 1234px #fff, 1258px 879px #fff, 238px 266px #fff, 1471px 1522px #fff, 1066px 1473px #fff,
    1385px 604px #fff, 1564px 1330px #fff, 705px 1404px #fff, 965px 19px #fff, 630px 1946px #fff, 384px 1044px #fff, 451px 633px #fff,
    973px 1446px #fff, 1621px 1342px #fff, 1459px 1964px #fff, 1310px 1740px #fff, 1641px 402px #fff, 1352px 1035px #fff, 1914px 1316px #fff,
    1316px 1572px #fff, 1083px 1010px #fff, 103px 948px #fff, 1616px 1172px #fff, 1163px 1258px #fff, 624px 1951px #fff, 523px 797px #fff,
    66px 1886px #fff, 1054px 898px #fff, 1468px 1939px #fff, 1248px 1421px #fff, 1126px 639px #fff, 575px 773px #fff, 1453px 1277px #fff,
    170px 1051px #fff, 1230px 1882px #fff, 22px 1744px #fff, 715px 1182px #fff, 1849px 1248px #fff, 1672px 555px #fff, 555px 1024px #fff,
    683px 1405px #fff, 1336px 1963px #fff, 1365px 750px #fff, 1064px 168px #fff, 449px 95px #fff, 957px 303px #fff, 470px 1149px #fff,
    249px 1320px #fff, 477px 1560px #fff, 1839px 1723px #fff, 1565px 1602px #fff, 1109px 1518px #fff, 167px 465px #fff, 399px 830px #fff,
    878px 1322px #fff, 1569px 697px #fff, 703px 1546px #fff, 122px 360px #fff, 272px 621px #fff, 1961px 187px #fff, 1967px 1747px #fff,
    895px 1292px #fff, 1896px 1450px #fff, 1546px 1336px #fff, 873px 1251px #fff, 639px 597px #fff, 1375px 163px #fff, 553px 1467px #fff,
    1421px 409px #fff, 41px 810px #fff, 751px 586px #fff, 356px 219px #fff, 723px 992px #fff, 164px 1442px #fff, 10px 1983px #fff,
    1392px 302px #fff, 913px 191px #fff, 553px 462px #fff, 1414px 987px #fff, 576px 276px #fff, 1889px 844px #fff, 625px 323px #fff,
    324px 68px #fff, 695px 585px #fff, 1547px 893px #fff, 1341px 250px #fff, 66px 926px #fff, 675px 1771px #fff, 1047px 378px #fff,
    879px 799px #fff, 1315px 261px #fff, 260px 482px #fff, 315px 252px #fff, 618px 752px #fff, 715px 1734px #fff, 1771px 1735px #fff,
    649px 1596px #fff, 884px 840px #fff, 357px 871px #fff, 1335px 1074px #fff, 1280px 1919px #fff, 1617px 717px #fff, 40px 1472px #fff,
    1240px 1403px #fff, 448px 897px #fff, 1380px 182px #fff, 1245px 469px #fff, 288px 670px #fff, 434px 1964px #fff, 1578px 1658px #fff,
    1823px 1536px #fff, 1504px 804px #fff, 1742px 762px #fff, 208px 1693px #fff, 53px 1611px #fff, 1373px 681px #fff, 560px 876px #fff,
    1884px 740px #fff, 1314px 1147px #fff, 1292px 139px #fff, 1898px 509px #fff, 17px 1604px #fff, 575px 1197px #fff, 146px 563px #fff,
    1071px 1325px #fff, 683px 1747px #fff, 1162px 325px #fff, 173px 1564px #fff, 1461px 1157px #fff, 1667px 1815px #fff, 306px 1776px #fff,
    1782px 1337px #fff, 717px 1251px #fff, 1664px 701px #fff, 1494px 412px #fff, 415px 743px #fff, 726px 1547px #fff, 1635px 476px #fff,
    1750px 423px #fff, 1019px 56px #fff, 1897px 1248px #fff, 1227px 831px #fff, 1588px 540px #fff, 1875px 1723px #fff, 1136px 1025px #fff,
    96px 987px #fff, 62px 1518px #fff, 948px 927px #fff, 1869px 928px #fff, 171px 1238px #fff, 33px 1066px #fff, 1956px 1776px #fff,
    26px 1567px #fff, 824px 499px #fff, 1291px 1516px #fff, 793px 1349px #fff, 1988px 21px #fff, 1692px 308px #fff, 150px 1918px #fff,
    560px 991px #fff, 749px 1588px #fff, 1451px 678px #fff, 878px 1049px #fff, 1444px 1909px #fff, 669px 1422px #fff, 1762px 268px #fff,
    1171px 1027px #fff;
  animation: animStar 50s linear infinite;
  z-index: 0;
}
#stars:after {
  content: ' ';
  position: absolute;
  bottom: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1840px 1945px #fff, 140px 203px #fff, 836px 1596px #fff, 1438px 1156px #fff, 1234px 1536px #fff, 311px 65px #fff,
    1544px 180px #fff, 198px 1039px #fff, 1482px 1680px #fff, 324px 1658px #fff, 958px 849px #fff, 826px 67px #fff, 765px 1592px #fff,
    1189px 1291px #fff, 1879px 1601px #fff, 1755px 1692px #fff, 589px 695px #fff, 1373px 1692px #fff, 530px 563px #fff, 586px 1800px #fff,
    1358px 975px #fff, 279px 1642px #fff, 1982px 1854px #fff, 1134px 1671px #fff, 1023px 12px #fff, 201px 1464px #fff, 263px 1453px #fff,
    811px 1676px #fff, 1914px 1047px #fff, 392px 1886px #fff, 733px 203px #fff, 1482px 1714px #fff, 1376px 1197px #fff, 32px 1752px #fff,
    1786px 1555px #fff, 1772px 1108px #fff, 1922px 1991px #fff, 540px 659px #fff, 60px 311px #fff, 491px 297px #fff, 1139px 554px #fff,
    1132px 259px #fff, 430px 1458px #fff, 855px 1424px #fff, 700px 909px #fff, 1453px 1998px #fff, 154px 1451px #fff, 763px 757px #fff,
    727px 1134px #fff, 1169px 194px #fff, 903px 1039px #fff, 1588px 381px #fff, 113px 560px #fff, 1064px 517px #fff, 336px 1267px #fff,
    1878px 819px #fff, 504px 906px #fff, 598px 1522px #fff, 399px 1586px #fff, 262px 910px #fff, 147px 1183px #fff, 1736px 582px #fff,
    406px 1276px #fff, 63px 984px #fff, 1849px 1410px #fff, 1303px 1727px #fff, 18px 581px #fff, 1494px 291px #fff, 1833px 1171px #fff,
    1770px 1016px #fff, 1059px 709px #fff, 194px 932px #fff, 1430px 1280px #fff, 268px 703px #fff, 515px 491px #fff, 956px 1776px #fff,
    1869px 1854px #fff, 17px 1277px #fff, 176px 1670px #fff, 1432px 355px #fff, 264px 867px #fff, 1860px 476px #fff, 105px 1409px #fff,
    171px 1279px #fff, 542px 845px #fff, 446px 254px #fff, 360px 1821px #fff, 1818px 1307px #fff, 511px 126px #fff, 1813px 1459px #fff,
    1560px 980px #fff, 817px 1532px #fff, 1788px 144px #fff, 435px 1752px #fff, 239px 924px #fff, 873px 1204px #fff, 519px 746px #fff,
    256px 1613px #fff, 54px 1730px #fff, 324px 1230px #fff, 1541px 757px #fff, 561px 929px #fff, 342px 129px #fff, 3px 388px #fff,
    696px 826px #fff, 187px 449px #fff, 507px 1931px #fff, 495px 831px #fff, 1562px 159px #fff, 895px 1357px #fff, 541px 242px #fff,
    1391px 1225px #fff, 1378px 1431px #fff, 1441px 389px #fff, 418px 1817px #fff, 341px 418px #fff, 705px 1474px #fff, 382px 1924px #fff,
    1498px 650px #fff, 533px 78px #fff, 987px 362px #fff, 529px 1251px #fff, 1260px 140px #fff, 1220px 169px #fff, 1677px 1374px #fff,
    42px 161px #fff, 1476px 1757px #fff, 1328px 1575px #fff, 1195px 871px #fff, 468px 670px #fff, 917px 1921px #fff, 1824px 287px #fff,
    695px 1037px #fff, 1254px 1184px #fff, 325px 1159px #fff, 717px 1690px #fff, 712px 1281px #fff, 1108px 1634px #fff, 1572px 615px #fff,
    1082px 773px #fff, 730px 707px #fff, 1940px 123px #fff, 1271px 468px #fff, 978px 1468px #fff, 861px 637px #fff, 1048px 1037px #fff,
    650px 1900px #fff, 1273px 283px #fff, 392px 501px #fff, 820px 880px #fff, 1735px 441px #fff, 530px 1114px #fff, 418px 1053px #fff,
    1644px 220px #fff, 931px 294px #fff, 1324px 850px #fff, 1858px 309px #fff, 1098px 1384px #fff, 1042px 535px #fff, 490px 1281px #fff,
    982px 258px #fff, 1084px 1126px #fff, 1228px 1567px #fff, 1247px 1963px #fff, 284px 1264px #fff, 1263px 1991px #fff, 1581px 1920px #fff,
    901px 1471px #fff, 218px 408px #fff, 1588px 631px #fff, 1038px 152px #fff, 225px 1629px #fff, 997px 1382px #fff, 354px 1863px #fff,
    1726px 1282px #fff, 392px 1267px #fff, 468px 1035px #fff, 1172px 1138px #fff, 1021px 921px #fff, 1405px 889px #fff, 1802px 1796px #fff,
    1552px 540px #fff, 150px 277px #fff, 1255px 1173px #fff, 539px 575px #fff, 707px 128px #fff, 1913px 1744px #fff, 1366px 1195px #fff,
    362px 586px #fff, 1159px 1595px #fff, 1864px 1271px #fff, 857px 985px #fff, 967px 1000px #fff, 838px 1330px #fff, 1434px 1710px #fff,
    443px 1811px #fff, 652px 1026px #fff, 1395px 966px #fff, 413px 1599px #fff, 1832px 1710px #fff, 514px 1529px #fff, 1723px 1680px #fff,
    92px 1243px #fff, 654px 410px #fff, 1164px 865px #fff, 1733px 1953px #fff, 1302px 778px #fff, 284px 1979px #fff, 348px 121px #fff,
    27px 971px #fff, 1617px 1295px #fff, 1688px 446px #fff, 1600px 1322px #fff, 1274px 1883px #fff, 983px 1791px #fff, 1525px 308px #fff,
    1904px 763px #fff, 923px 869px #fff, 985px 584px #fff, 848px 1771px #fff, 1675px 954px #fff, 1016px 1945px #fff, 1429px 1879px #fff,
    429px 1048px #fff, 1801px 841px #fff, 1747px 743px #fff, 537px 1348px #fff, 1735px 1929px #fff, 314px 523px #fff, 433px 1287px #fff,
    578px 1674px #fff, 5px 1658px #fff, 1640px 1237px #fff, 588px 1791px #fff, 570px 1401px #fff, 824px 88px #fff, 250px 1752px #fff,
    95px 445px #fff, 1110px 980px #fff, 1942px 114px #fff, 1927px 803px #fff, 1713px 1690px #fff, 204px 1528px #fff, 1045px 362px #fff,
    1853px 1844px #fff, 518px 1460px #fff, 194px 685px #fff, 1399px 729px #fff, 607px 863px #fff, 716px 666px #fff, 523px 333px #fff,
    1952px 292px #fff, 84px 1816px #fff, 1463px 1330px #fff, 1850px 964px #fff, 75px 1973px #fff, 1550px 849px #fff, 1494px 317px #fff,
    251px 1020px #fff, 1767px 35px #fff, 548px 1936px #fff, 893px 1968px #fff, 1921px 1135px #fff, 236px 1011px #fff, 471px 540px #fff,
    1539px 1896px #fff, 808px 36px #fff, 873px 1969px #fff, 563px 632px #fff, 1208px 687px #fff, 1853px 637px #fff, 940px 857px #fff,
    1911px 124px #fff, 1659px 1621px #fff, 136px 794px #fff, 1937px 1726px #fff, 147px 1703px #fff, 1822px 1526px #fff, 590px 1170px #fff,
    776px 683px #fff, 1816px 1279px #fff, 1279px 1266px #fff, 326px 427px #fff, 1545px 561px #fff, 1992px 1404px #fff, 1146px 1894px #fff,
    1883px 831px #fff, 257px 527px #fff, 505px 730px #fff, 1671px 1303px #fff, 1191px 645px #fff, 1351px 107px #fff, 672px 1981px #fff,
    864px 1857px #fff, 1861px 1423px #fff, 1968px 1959px #fff, 759px 139px #fff, 976px 2000px #fff, 613px 1123px #fff, 705px 1454px #fff,
    1552px 860px #fff, 714px 264px #fff, 1935px 699px #fff, 815px 1998px #fff, 431px 1296px #fff, 476px 919px #fff, 290px 16px #fff,
    555px 1282px #fff, 20px 991px #fff, 1679px 733px #fff, 12px 1227px #fff, 222px 1075px #fff, 1972px 89px #fff, 1345px 414px #fff,
    1122px 692px #fff, 1144px 1132px #fff, 55px 573px #fff, 694px 888px #fff, 1343px 601px #fff, 1824px 624px #fff, 891px 838px #fff,
    254px 1021px #fff, 1056px 1158px #fff, 1461px 1950px #fff, 55px 1878px #fff, 12px 648px #fff, 1530px 1859px #fff, 474px 1197px #fff,
    1746px 1914px #fff, 1567px 1898px #fff, 1827px 1624px #fff, 648px 229px #fff, 1428px 69px #fff, 361px 1504px #fff, 1069px 1837px #fff,
    999px 295px #fff, 309px 1704px #fff, 1522px 27px #fff, 1197px 1663px #fff, 318px 1788px #fff, 1966px 43px #fff, 371px 637px #fff,
    108px 1786px #fff, 1284px 1952px #fff, 1035px 663px #fff, 1916px 1136px #fff, 1839px 1850px #fff, 1209px 1345px #fff, 641px 1499px #fff,
    628px 1059px #fff, 1802px 1981px #fff, 207px 1257px #fff, 742px 1820px #fff, 904px 1333px #fff, 1013px 1963px #fff, 605px 1049px #fff,
    46px 38px #fff, 275px 1054px #fff, 971px 79px #fff, 1487px 1069px #fff, 1406px 693px #fff, 854px 524px #fff, 1507px 992px #fff,
    1746px 1908px #fff, 1864px 333px #fff, 984px 748px #fff, 1469px 723px #fff, 1998px 1px #fff, 566px 826px #fff, 616px 629px #fff,
    953px 920px #fff, 351px 1273px #fff, 1113px 417px #fff, 1994px 1260px #fff, 803px 851px #fff, 1074px 1217px #fff, 1243px 1533px #fff,
    522px 1543px #fff, 674px 280px #fff, 1422px 1721px #fff, 1453px 666px #fff, 436px 831px #fff, 704px 436px #fff, 933px 1749px #fff,
    375px 429px #fff, 1268px 1064px #fff, 574px 1471px #fff, 1942px 1074px #fff, 1286px 1302px #fff, 225px 464px #fff, 1230px 397px #fff,
    112px 666px #fff, 743px 1714px #fff, 75px 704px #fff, 1368px 1329px #fff, 493px 642px #fff, 267px 297px #fff, 696px 550px #fff,
    948px 1180px #fff, 153px 1907px #fff, 1398px 668px #fff, 674px 1163px #fff, 1834px 1792px #fff, 1710px 1888px #fff, 1100px 547px #fff,
    792px 1266px #fff, 533px 765px #fff, 1583px 183px #fff, 1957px 252px #fff, 1895px 913px #fff, 1693px 115px #fff, 27px 1952px #fff,
    528px 43px #fff, 1495px 928px #fff, 356px 19px #fff, 443px 1382px #fff, 681px 398px #fff, 1485px 265px #fff, 1977px 752px #fff,
    693px 245px #fff, 197px 1059px #fff, 117px 3px #fff, 167px 1734px #fff, 1157px 951px #fff, 561px 758px #fff, 1287px 100px #fff,
    623px 1652px #fff, 1569px 574px #fff, 1635px 1688px #fff, 698px 1745px #fff, 1450px 496px #fff, 1534px 470px #fff, 205px 289px #fff,
    654px 227px #fff, 1020px 703px #fff, 1267px 1902px #fff, 1790px 1781px #fff, 289px 669px #fff, 494px 1937px #fff, 810px 666px #fff,
    1193px 122px #fff, 1583px 804px #fff, 137px 1173px #fff, 256px 972px #fff, 1783px 1260px #fff, 652px 1468px #fff, 441px 1150px #fff,
    1309px 1221px #fff, 322px 703px #fff, 1995px 1080px #fff, 898px 1957px #fff, 1077px 910px #fff, 700px 667px #fff, 1326px 299px #fff,
    546px 1000px #fff, 1062px 679px #fff, 1188px 565px #fff, 95px 1784px #fff, 493px 1139px #fff, 1393px 926px #fff, 1802px 1212px #fff,
    1029px 71px #fff, 1578px 1402px #fff, 1486px 1537px #fff, 1477px 1592px #fff, 1691px 1661px #fff, 1227px 5px #fff, 1770px 994px #fff,
    1209px 564px #fff, 103px 779px #fff, 466px 1982px #fff, 1546px 713px #fff, 1765px 614px #fff, 1197px 1675px #fff, 1173px 557px #fff,
    1414px 1430px #fff, 1100px 1316px #fff, 148px 550px #fff, 639px 523px #fff, 1484px 1183px #fff, 1371px 1527px #fff, 1098px 1312px #fff,
    48px 187px #fff, 1129px 1246px #fff, 1399px 130px #fff, 1585px 537px #fff, 1370px 1104px #fff, 538px 1862px #fff, 245px 390px #fff,
    1144px 1689px #fff, 1189px 1397px #fff, 672px 1856px #fff, 872px 1220px #fff, 1247px 1563px #fff, 1936px 1471px #fff, 1815px 1081px #fff,
    1913px 730px #fff, 1406px 1081px #fff, 1315px 1340px #fff, 1180px 1528px #fff, 1525px 1202px #fff, 1591px 96px #fff, 1958px 354px #fff,
    1187px 1537px #fff, 530px 1419px #fff, 714px 102px #fff, 1967px 1404px #fff, 1693px 1324px #fff, 1228px 729px #fff, 1023px 1431px #fff,
    1675px 1780px #fff, 565px 1219px #fff, 1546px 937px #fff, 613px 1355px #fff, 497px 503px #fff, 199px 1708px #fff, 1311px 163px #fff,
    1900px 1430px #fff, 1534px 1648px #fff, 680px 1971px #fff, 1897px 1631px #fff, 159px 1055px #fff, 1549px 1391px #fff, 1568px 627px #fff,
    47px 164px #fff, 1044px 1470px #fff, 118px 1935px #fff, 330px 1329px #fff, 101px 142px #fff, 1569px 433px #fff, 747px 160px #fff,
    815px 1354px #fff, 239px 636px #fff, 1444px 1234px #fff, 1258px 879px #fff, 238px 266px #fff, 1471px 1522px #fff, 1066px 1473px #fff,
    1385px 604px #fff, 1564px 1330px #fff, 705px 1404px #fff, 965px 19px #fff, 630px 1946px #fff, 384px 1044px #fff, 451px 633px #fff,
    973px 1446px #fff, 1621px 1342px #fff, 1459px 1964px #fff, 1310px 1740px #fff, 1641px 402px #fff, 1352px 1035px #fff, 1914px 1316px #fff,
    1316px 1572px #fff, 1083px 1010px #fff, 103px 948px #fff, 1616px 1172px #fff, 1163px 1258px #fff, 624px 1951px #fff, 523px 797px #fff,
    66px 1886px #fff, 1054px 898px #fff, 1468px 1939px #fff, 1248px 1421px #fff, 1126px 639px #fff, 575px 773px #fff, 1453px 1277px #fff,
    170px 1051px #fff, 1230px 1882px #fff, 22px 1744px #fff, 715px 1182px #fff, 1849px 1248px #fff, 1672px 555px #fff, 555px 1024px #fff,
    683px 1405px #fff, 1336px 1963px #fff, 1365px 750px #fff, 1064px 168px #fff, 449px 95px #fff, 957px 303px #fff, 470px 1149px #fff,
    249px 1320px #fff, 477px 1560px #fff, 1839px 1723px #fff, 1565px 1602px #fff, 1109px 1518px #fff, 167px 465px #fff, 399px 830px #fff,
    878px 1322px #fff, 1569px 697px #fff, 703px 1546px #fff, 122px 360px #fff, 272px 621px #fff, 1961px 187px #fff, 1967px 1747px #fff,
    895px 1292px #fff, 1896px 1450px #fff, 1546px 1336px #fff, 873px 1251px #fff, 639px 597px #fff, 1375px 163px #fff, 553px 1467px #fff,
    1421px 409px #fff, 41px 810px #fff, 751px 586px #fff, 356px 219px #fff, 723px 992px #fff, 164px 1442px #fff, 10px 1983px #fff,
    1392px 302px #fff, 913px 191px #fff, 553px 462px #fff, 1414px 987px #fff, 576px 276px #fff, 1889px 844px #fff, 625px 323px #fff,
    324px 68px #fff, 695px 585px #fff, 1547px 893px #fff, 1341px 250px #fff, 66px 926px #fff, 675px 1771px #fff, 1047px 378px #fff,
    879px 799px #fff, 1315px 261px #fff, 260px 482px #fff, 315px 252px #fff, 618px 752px #fff, 715px 1734px #fff, 1771px 1735px #fff,
    649px 1596px #fff, 884px 840px #fff, 357px 871px #fff, 1335px 1074px #fff, 1280px 1919px #fff, 1617px 717px #fff, 40px 1472px #fff,
    1240px 1403px #fff, 448px 897px #fff, 1380px 182px #fff, 1245px 469px #fff, 288px 670px #fff, 434px 1964px #fff, 1578px 1658px #fff,
    1823px 1536px #fff, 1504px 804px #fff, 1742px 762px #fff, 208px 1693px #fff, 53px 1611px #fff, 1373px 681px #fff, 560px 876px #fff,
    1884px 740px #fff, 1314px 1147px #fff, 1292px 139px #fff, 1898px 509px #fff, 17px 1604px #fff, 575px 1197px #fff, 146px 563px #fff,
    1071px 1325px #fff, 683px 1747px #fff, 1162px 325px #fff, 173px 1564px #fff, 1461px 1157px #fff, 1667px 1815px #fff, 306px 1776px #fff,
    1782px 1337px #fff, 717px 1251px #fff, 1664px 701px #fff, 1494px 412px #fff, 415px 743px #fff, 726px 1547px #fff, 1635px 476px #fff,
    1750px 423px #fff, 1019px 56px #fff, 1897px 1248px #fff, 1227px 831px #fff, 1588px 540px #fff, 1875px 1723px #fff, 1136px 1025px #fff,
    96px 987px #fff, 62px 1518px #fff, 948px 927px #fff, 1869px 928px #fff, 171px 1238px #fff, 33px 1066px #fff, 1956px 1776px #fff,
    26px 1567px #fff, 824px 499px #fff, 1291px 1516px #fff, 793px 1349px #fff, 1988px 21px #fff, 1692px 308px #fff, 150px 1918px #fff,
    560px 991px #fff, 749px 1588px #fff, 1451px 678px #fff, 878px 1049px #fff, 1444px 1909px #fff, 669px 1422px #fff, 1762px 268px #fff,
    1171px 1027px #fff;
  z-index: 0;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 74px 221px #fff, 37px 1598px #fff, 46px 1204px #fff, 595px 723px #fff, 1719px 672px #fff, 583px 1846px #fff, 290px 906px #fff,
    518px 1604px #fff, 1549px 324px #fff, 476px 757px #fff, 1763px 1141px #fff, 980px 155px #fff, 931px 1942px #fff, 472px 497px #fff,
    979px 939px #fff, 308px 276px #fff, 1131px 1343px #fff, 1418px 1033px #fff, 1837px 1301px #fff, 735px 1193px #fff, 625px 1835px #fff,
    1808px 1009px #fff, 667px 155px #fff, 1605px 1850px #fff, 1351px 1283px #fff, 392px 1128px #fff, 1591px 1700px #fff, 501px 612px #fff,
    1997px 1941px #fff, 318px 1245px #fff, 1795px 729px #fff, 1114px 861px #fff, 1317px 945px #fff, 353px 190px #fff, 1586px 909px #fff,
    1781px 934px #fff, 930px 1654px #fff, 478px 307px #fff, 1250px 1750px #fff, 1848px 556px #fff, 833px 1055px #fff, 1684px 348px #fff,
    289px 1279px #fff, 16px 1528px #fff, 983px 1587px #fff, 1555px 1873px #fff, 334px 736px #fff, 605px 366px #fff, 1876px 1919px #fff,
    1556px 1494px #fff, 1906px 1194px #fff, 1044px 1267px #fff, 688px 1909px #fff, 1856px 31px #fff, 258px 1159px #fff, 1034px 1374px #fff,
    143px 916px #fff, 567px 1909px #fff, 1986px 1905px #fff, 1374px 1414px #fff, 1660px 20px #fff, 1069px 908px #fff, 1330px 1880px #fff,
    1266px 1389px #fff, 1024px 1515px #fff, 1708px 1520px #fff, 373px 1979px #fff, 890px 947px #fff, 942px 316px #fff, 722px 1510px #fff,
    979px 1781px #fff, 1787px 1677px #fff, 80px 385px #fff, 1985px 648px #fff, 641px 695px #fff, 896px 1142px #fff, 839px 825px #fff,
    1589px 1321px #fff, 99px 1987px #fff, 100px 1632px #fff, 1631px 329px #fff, 1259px 893px #fff, 779px 502px #fff, 1181px 1011px #fff,
    1543px 1158px #fff, 63px 1450px #fff, 435px 1706px #fff, 1040px 1425px #fff, 1716px 202px #fff, 970px 317px #fff, 1960px 693px #fff,
    159px 1914px #fff, 783px 1459px #fff, 1117px 236px #fff, 979px 963px #fff, 68px 1096px #fff, 1784px 1362px #fff, 830px 1194px #fff,
    1616px 72px #fff, 755px 987px #fff, 1573px 873px #fff, 1234px 376px #fff, 1186px 466px #fff, 742px 1739px #fff, 911px 438px #fff,
    1844px 1549px #fff, 1312px 1039px #fff, 1467px 1124px #fff, 267px 1259px #fff, 1449px 1609px #fff, 489px 926px #fff, 1612px 1356px #fff,
    897px 526px #fff, 721px 442px #fff, 1631px 1158px #fff, 1485px 1016px #fff, 1884px 1072px #fff, 1104px 369px #fff, 1352px 1853px #fff,
    141px 509px #fff, 325px 1039px #fff, 844px 996px #fff, 640px 280px #fff, 643px 1806px #fff, 839px 283px #fff, 790px 616px #fff,
    1058px 1720px #fff, 100px 1631px #fff, 573px 577px #fff, 4px 1231px #fff, 1423px 301px #fff, 988px 539px #fff, 1624px 1076px #fff,
    1666px 1156px #fff, 921px 325px #fff, 1875px 53px #fff, 1377px 1879px #fff, 351px 46px #fff, 107px 1576px #fff, 1799px 1561px #fff,
    114px 1091px #fff, 915px 1804px #fff, 1911px 1684px #fff, 169px 377px #fff, 837px 1172px #fff, 1489px 873px #fff, 1352px 1783px #fff,
    1410px 121px #fff, 625px 1980px #fff, 175px 2px #fff, 825px 570px #fff, 1176px 494px #fff, 1330px 579px #fff, 317px 522px #fff,
    362px 788px #fff, 471px 1381px #fff, 1681px 1373px #fff, 1384px 1411px #fff, 534px 1210px #fff, 7px 201px #fff, 870px 1903px #fff,
    1816px 170px #fff, 1379px 1278px #fff, 1363px 720px #fff, 964px 1294px #fff, 1996px 1787px #fff, 1469px 234px #fff, 1109px 1996px #fff,
    372px 1087px #fff, 776px 1786px #fff, 364px 457px #fff, 1838px 1614px #fff, 1186px 552px #fff, 1885px 1285px #fff, 1829px 1943px #fff,
    874px 921px #fff, 1526px 2px #fff, 511px 368px #fff, 1719px 1304px #fff, 1144px 237px #fff, 1330px 1677px #fff, 1226px 1099px #fff,
    1305px 463px #fff, 1635px 950px #fff, 671px 1365px #fff, 359px 1442px #fff, 299px 564px #fff, 574px 776px #fff, 1085px 529px #fff,
    1272px 1872px #fff, 496px 343px #fff, 79px 1622px #fff, 1837px 677px #fff, 1671px 978px #fff, 650px 1697px #fff, 1574px 932px #fff,
    1264px 1237px #fff, 950px 1087px #fff, 1857px 178px #fff, 108px 565px #fff;
  animation: animStar 100s linear infinite;
  z-index: 0;
}
#stars2:after {
  content: ' ';
  position: absolute;
  bottom: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 74px 221px #fff, 37px 1598px #fff, 46px 1204px #fff, 595px 723px #fff, 1719px 672px #fff, 583px 1846px #fff, 290px 906px #fff,
    518px 1604px #fff, 1549px 324px #fff, 476px 757px #fff, 1763px 1141px #fff, 980px 155px #fff, 931px 1942px #fff, 472px 497px #fff,
    979px 939px #fff, 308px 276px #fff, 1131px 1343px #fff, 1418px 1033px #fff, 1837px 1301px #fff, 735px 1193px #fff, 625px 1835px #fff,
    1808px 1009px #fff, 667px 155px #fff, 1605px 1850px #fff, 1351px 1283px #fff, 392px 1128px #fff, 1591px 1700px #fff, 501px 612px #fff,
    1997px 1941px #fff, 318px 1245px #fff, 1795px 729px #fff, 1114px 861px #fff, 1317px 945px #fff, 353px 190px #fff, 1586px 909px #fff,
    1781px 934px #fff, 930px 1654px #fff, 478px 307px #fff, 1250px 1750px #fff, 1848px 556px #fff, 833px 1055px #fff, 1684px 348px #fff,
    289px 1279px #fff, 16px 1528px #fff, 983px 1587px #fff, 1555px 1873px #fff, 334px 736px #fff, 605px 366px #fff, 1876px 1919px #fff,
    1556px 1494px #fff, 1906px 1194px #fff, 1044px 1267px #fff, 688px 1909px #fff, 1856px 31px #fff, 258px 1159px #fff, 1034px 1374px #fff,
    143px 916px #fff, 567px 1909px #fff, 1986px 1905px #fff, 1374px 1414px #fff, 1660px 20px #fff, 1069px 908px #fff, 1330px 1880px #fff,
    1266px 1389px #fff, 1024px 1515px #fff, 1708px 1520px #fff, 373px 1979px #fff, 890px 947px #fff, 942px 316px #fff, 722px 1510px #fff,
    979px 1781px #fff, 1787px 1677px #fff, 80px 385px #fff, 1985px 648px #fff, 641px 695px #fff, 896px 1142px #fff, 839px 825px #fff,
    1589px 1321px #fff, 99px 1987px #fff, 100px 1632px #fff, 1631px 329px #fff, 1259px 893px #fff, 779px 502px #fff, 1181px 1011px #fff,
    1543px 1158px #fff, 63px 1450px #fff, 435px 1706px #fff, 1040px 1425px #fff, 1716px 202px #fff, 970px 317px #fff, 1960px 693px #fff,
    159px 1914px #fff, 783px 1459px #fff, 1117px 236px #fff, 979px 963px #fff, 68px 1096px #fff, 1784px 1362px #fff, 830px 1194px #fff,
    1616px 72px #fff, 755px 987px #fff, 1573px 873px #fff, 1234px 376px #fff, 1186px 466px #fff, 742px 1739px #fff, 911px 438px #fff,
    1844px 1549px #fff, 1312px 1039px #fff, 1467px 1124px #fff, 267px 1259px #fff, 1449px 1609px #fff, 489px 926px #fff, 1612px 1356px #fff,
    897px 526px #fff, 721px 442px #fff, 1631px 1158px #fff, 1485px 1016px #fff, 1884px 1072px #fff, 1104px 369px #fff, 1352px 1853px #fff,
    141px 509px #fff, 325px 1039px #fff, 844px 996px #fff, 640px 280px #fff, 643px 1806px #fff, 839px 283px #fff, 790px 616px #fff,
    1058px 1720px #fff, 100px 1631px #fff, 573px 577px #fff, 4px 1231px #fff, 1423px 301px #fff, 988px 539px #fff, 1624px 1076px #fff,
    1666px 1156px #fff, 921px 325px #fff, 1875px 53px #fff, 1377px 1879px #fff, 351px 46px #fff, 107px 1576px #fff, 1799px 1561px #fff,
    114px 1091px #fff, 915px 1804px #fff, 1911px 1684px #fff, 169px 377px #fff, 837px 1172px #fff, 1489px 873px #fff, 1352px 1783px #fff,
    1410px 121px #fff, 625px 1980px #fff, 175px 2px #fff, 825px 570px #fff, 1176px 494px #fff, 1330px 579px #fff, 317px 522px #fff,
    362px 788px #fff, 471px 1381px #fff, 1681px 1373px #fff, 1384px 1411px #fff, 534px 1210px #fff, 7px 201px #fff, 870px 1903px #fff,
    1816px 170px #fff, 1379px 1278px #fff, 1363px 720px #fff, 964px 1294px #fff, 1996px 1787px #fff, 1469px 234px #fff, 1109px 1996px #fff,
    372px 1087px #fff, 776px 1786px #fff, 364px 457px #fff, 1838px 1614px #fff, 1186px 552px #fff, 1885px 1285px #fff, 1829px 1943px #fff,
    874px 921px #fff, 1526px 2px #fff, 511px 368px #fff, 1719px 1304px #fff, 1144px 237px #fff, 1330px 1677px #fff, 1226px 1099px #fff,
    1305px 463px #fff, 1635px 950px #fff, 671px 1365px #fff, 359px 1442px #fff, 299px 564px #fff, 574px 776px #fff, 1085px 529px #fff,
    1272px 1872px #fff, 496px 343px #fff, 79px 1622px #fff, 1837px 677px #fff, 1671px 978px #fff, 650px 1697px #fff, 1574px 932px #fff,
    1264px 1237px #fff, 950px 1087px #fff, 1857px 178px #fff, 108px 565px #fff;
  z-index: 0;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 105px 114px #fff, 476px 1796px #fff, 1895px 1362px #fff, 1721px 382px #fff, 18px 663px #fff, 1077px 97px #fff,
    912px 822px #fff, 1971px 921px #fff, 1462px 1942px #fff, 571px 483px #fff, 87px 700px #fff, 1177px 444px #fff, 381px 1210px #fff,
    81px 1586px #fff, 1613px 1355px #fff, 164px 681px #fff, 1513px 441px #fff, 64px 673px #fff, 594px 1790px #fff, 738px 991px #fff,
    1580px 1379px #fff, 1720px 842px #fff, 115px 920px #fff, 835px 1259px #fff, 1345px 869px #fff, 1735px 434px #fff, 196px 698px #fff,
    1691px 1654px #fff, 1851px 1788px #fff, 66px 1436px #fff, 1746px 475px #fff, 1060px 1414px #fff, 837px 1901px #fff, 1913px 1056px #fff,
    1703px 232px #fff, 425px 990px #fff, 1848px 876px #fff, 1638px 523px #fff, 1900px 1465px #fff, 190px 1461px #fff, 617px 1923px #fff,
    312px 1818px #fff, 1252px 1117px #fff, 243px 486px #fff, 1173px 1983px #fff, 1501px 642px #fff, 702px 1531px #fff, 1840px 487px #fff,
    1028px 782px #fff, 1540px 998px #fff, 1485px 159px #fff, 815px 1211px #fff, 179px 414px #fff, 650px 1336px #fff, 941px 427px #fff,
    48px 620px #fff, 1628px 1185px #fff, 844px 649px #fff, 1339px 758px #fff, 1780px 1830px #fff, 1984px 719px #fff, 383px 1699px #fff,
    805px 1502px #fff, 250px 1117px #fff, 1112px 364px #fff, 1336px 358px #fff, 1932px 714px #fff, 1489px 933px #fff, 845px 329px #fff,
    499px 1160px #fff, 1192px 1125px #fff, 1175px 593px #fff, 1402px 1743px #fff, 1657px 279px #fff, 667px 1741px #fff, 1405px 1663px #fff,
    1846px 1700px #fff, 1933px 544px #fff, 526px 925px #fff, 1602px 628px #fff, 1945px 1114px #fff, 248px 1905px #fff, 133px 1678px #fff,
    1266px 1277px #fff, 1793px 326px #fff, 1865px 876px #fff, 171px 1481px #fff, 782px 1754px #fff, 1194px 21px #fff, 108px 906px #fff,
    438px 168px #fff, 130px 1208px #fff, 1081px 121px #fff, 833px 772px #fff, 759px 472px #fff, 1875px 741px #fff, 498px 1646px #fff,
    1027px 775px #fff, 634px 1341px #fff, 1615px 1637px #fff;
  animation: animStar 150s linear infinite;
  z-index: 0;
}
#stars3:after {
  content: ' ';
  position: absolute;
  bottom: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 105px 114px #fff, 476px 1796px #fff, 1895px 1362px #fff, 1721px 382px #fff, 18px 663px #fff, 1077px 97px #fff,
    912px 822px #fff, 1971px 921px #fff, 1462px 1942px #fff, 571px 483px #fff, 87px 700px #fff, 1177px 444px #fff, 381px 1210px #fff,
    81px 1586px #fff, 1613px 1355px #fff, 164px 681px #fff, 1513px 441px #fff, 64px 673px #fff, 594px 1790px #fff, 738px 991px #fff,
    1580px 1379px #fff, 1720px 842px #fff, 115px 920px #fff, 835px 1259px #fff, 1345px 869px #fff, 1735px 434px #fff, 196px 698px #fff,
    1691px 1654px #fff, 1851px 1788px #fff, 66px 1436px #fff, 1746px 475px #fff, 1060px 1414px #fff, 837px 1901px #fff, 1913px 1056px #fff,
    1703px 232px #fff, 425px 990px #fff, 1848px 876px #fff, 1638px 523px #fff, 1900px 1465px #fff, 190px 1461px #fff, 617px 1923px #fff,
    312px 1818px #fff, 1252px 1117px #fff, 243px 486px #fff, 1173px 1983px #fff, 1501px 642px #fff, 702px 1531px #fff, 1840px 487px #fff,
    1028px 782px #fff, 1540px 998px #fff, 1485px 159px #fff, 815px 1211px #fff, 179px 414px #fff, 650px 1336px #fff, 941px 427px #fff,
    48px 620px #fff, 1628px 1185px #fff, 844px 649px #fff, 1339px 758px #fff, 1780px 1830px #fff, 1984px 719px #fff, 383px 1699px #fff,
    805px 1502px #fff, 250px 1117px #fff, 1112px 364px #fff, 1336px 358px #fff, 1932px 714px #fff, 1489px 933px #fff, 845px 329px #fff,
    499px 1160px #fff, 1192px 1125px #fff, 1175px 593px #fff, 1402px 1743px #fff, 1657px 279px #fff, 667px 1741px #fff, 1405px 1663px #fff,
    1846px 1700px #fff, 1933px 544px #fff, 526px 925px #fff, 1602px 628px #fff, 1945px 1114px #fff, 248px 1905px #fff, 133px 1678px #fff,
    1266px 1277px #fff, 1793px 326px #fff, 1865px 876px #fff, 171px 1481px #fff, 782px 1754px #fff, 1194px 21px #fff, 108px 906px #fff,
    438px 168px #fff, 130px 1208px #fff, 1081px 121px #fff, 833px 772px #fff, 759px 472px #fff, 1875px 741px #fff, 498px 1646px #fff,
    1027px 775px #fff, 634px 1341px #fff, 1615px 1637px #fff;
  z-index: 0;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
