{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 140,
  "html.format.wrapLineLength": 100,
  "prettier.disableLanguages": ["html"],
  "proseWrap": "preserve"
}